@charset "UTF-8";

body{font-family: Georgia, arial; font-size: 80%; color: #42210b;}
h1{font-style: italic; margin: 10px 0 10px 0; font-size: 210%; font-weight: normal;}
p{line-height: 17px; margin: 1px 0 0px 0}

a:link, a:visited, a:hover, a:active { color: #f6916d; }

h2 {margin: 30px 0px 7px 0px; font-weight: normal; font-style: italic; font-size: 200%;}
h3 {margin: 5px 0px 5px 0px; font-weight: normal; font-size: 150%;}

table {border-collapse:collapse;}
table, td, th {border:1px solid #42210b;}
td {padding: 2px 3px 2px 3px;}

